In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame, read_html

## CSV

In [2]:
dframe = pd.read_csv('demo.csv')
print(dframe)

    Cab  Revenue  Loss
0  Uber      100  1000
1  Grab       10   200
2  Lyft       30   500
3   Ola       90   900

In [3]:
dframe2 = pd.read_csv('demo2.csv') # No header
print(dframe2)

   Uber  100  1000
0  Grab   10   200
1  Lyft   30   500
2   Ola   90   900

In [4]:
dframe2 = pd.read_csv('demo2.csv', header=None) 
print(dframe2)

      0    1     2
0  Uber  100  1000
1  Grab   10   200
2  Lyft   30   500
3   Ola   90   900

In [5]:
# readtable

dframe3 = pd.read_table('demo.csv', sep=',') # the separator doesn't have to be a comma
print(dframe3)

    Cab  Revenue  Loss
0  Uber      100  1000
1  Grab       10   200
2  Lyft       30   500
3   Ola       90   900

In [6]:
# partial rows importing

print(pd.read_csv('demo2.csv', nrows=2, header=None))

      0    1     2
0  Uber  100  1000
1  Grab   10   200

In [7]:
# dumping data into a csv file

dframe2.to_csv('outputCSV.csv')

dframe2.to_csv('outputCSV2.csv', sep='!')

In [8]:
# selecting specific columns

dframe2.to_csv('dataoutput.csv', columns=[0,1])

## Excel Files

In [9]:
excelfile = pd.read_excel('demo3.xlsx')
print(excelfile)

    Cab  Revenue  Loss
0  Uber      100  1000
1  Grab       10   200
2  Lyft       30   500
3   Ola       90   900

## HTML Pages

In [10]:
url = "https://countrycode.org/"

dflist = pd.io.html.read_html(url)
dframe = dflist[0]
print(dframe)

               COUNTRY COUNTRY CODE ISO CODES  POPULATION  AREA KM2  \
0          Afghanistan           93  AF / AFG    29121286    647500
1              Albania          355  AL / ALB     2986952     28748
2              Algeria          213  DZ / DZA    34586184   2381740
3       American Samoa        1-684  AS / ASM       57881       199
4              Andorra          376  AD / AND       84000       468
..                 ...          ...       ...         ...       ...
235  Wallis and Futuna          681  WF / WLF       16025       274
236     Western Sahara          212  EH / ESH      273008    266000
237              Yemen          967  YE / YEM    23495361    527970
238             Zambia          260  ZM / ZMB    13460305    752614
239           Zimbabwe          263  ZW / ZWE    11651858    390580

          GDP $USD
0    20.65 Billion
1     12.8 Billion
2    215.7 Billion
3    462.2 Million
4      4.8 Billion
..             ...
235            NaN
236            NaN
237  43.89 Billion
238  22.24 Billion
239  10.48 Billion

[240 rows x 6 columns]

In [11]:
dframe.columns.values

array(['COUNTRY', 'COUNTRY CODE', 'ISO CODES', 'POPULATION', 'AREA KM2',
       'GDP $USD'], dtype=object)